{{#this}}
<div class="keyword-chars row">{{#each keyword}}<span>{{this}}</span>{{/each}}</div>
<div class="offset-chars row">{{#each offsets}}<span>{{this}}</span>{{/each}}</div>
{{/this}}
<p class="small description">[ Notice how the integer beneath each of the characters you typed is a 0 based offset from the beginning of the alphabet?
  The currently highlighted number is used to encode your message. ]</p>
