---
layout: default_app
---
<article class="app">

  <header class="app-header">
    <h1 class="app-title">{{ page.title | escape }}</h1>
  </header>

  <div class="app-content grapevine">
    <section id="keyword_configuration" class="grid error">
      <h2>Keyword Configuration</h2>
      <p>First enter a keyword below. It will be used to encode your secret message.</p>
      <div class="col-1-2 offset-1">
        <input type="text" placeholder="Enter a keyword" class="medium weight-heavy keyword-entry">
        <div class="app-button disabled call-to-action update-keyword">Update</div>
        <p class="error-msg">Please enter 3 to 8 characters of the alphabet.</p>
      </div>
      <div class="col-1-1 keyword-offset-table"></div>
    </section>

    <section id="msg_encoding" class="grid">
      <h2 class="col-1-1">Message Text</h2>
      <p>Next use the buttons below to enter a message for encoding.</p>
      <div class="character-encoding-table">
        <ul class="character-buttons">
          <li><span>A</span></li><li><span>B</span></li><li><span>C</span></li><li><span>D</span></li><li><span>E</span></li><li><span>F</span></li><li><span>G</span></li><li><span>H</span></li><li><span>I</span></li><li><span>J</span></li><li><span>K</span></li><li><span>L</span></li><li><span>M</span></li><li><span>N</span></li><li><span>O</span></li><li><span>P</span></li><li><span>Q</span></li><li><span>R</span></li><li><span>S</span></li><li><span>T</span></li><li><span>U</span></li><li><span>V</span></li><li><span>W</span></li><li><span>X</span></li><li><span>Y</span></li><li><span>Z</span></li>
        </ul>
        <ul class="character-encoding">
          <li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li><li><span> </span></li>
        </ul>
        <p class="source-text user-output medium weight-heavy col-11-12"></p><button class="clear-source app-button clear">Clear</button>
      </div>

      <div class="results-container">
        <h2>Encoded Message</h2>
        <p class="col-11-12 encoded-text user-output medium weight-heavy"></p>
        <p class="results-msg">Now send this secret message to your field operatives for decoding!</p>
      </div>
    </section>
  </div>

</article>
